.admin {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .user-table td {
    background-color: #fff;
  }
  
  .verify-button, .logout-button, .download-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .verify-button:hover, .logout-button:hover, .download-button:hover {
    background-color: #45a049;
  }
  
  .logout-button {
    background-color: #f44336;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  